/* Border styles */
#table-1 thead, #table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(0, 153, 204);
}
#table-1 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(0, 153, 204);
table-layout: fixed;
}

/* Padding and font style */
#table-1 td, #table-1 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(0, 134, 179);
word-break: break-word;
width: 100px;
}

/* Alternating background colors */
#table-1 tr:nth-child(even) {
background: rgb(204, 230, 255)
}
#table-1 tr:nth-child(odd) {
background: #FFF
}
